body {
    text-align: center;
}

img.characters {
    margin: 0;
    padding: 1px;
}
img.characters:hover {
    cursor: pointer;
    border-bottom: 1px solid green;
    padding-bottom: 0;
}

div#score {
    display: none;
}

canvas {
    display: none;
}
