@font-face {
    font-family: "PressStart";
    src: url("../fonts/PressStart2P.ttf");
    font-weight: 100;
    font-style: normal;
}

.font-pressStart {
    font-family: "PressStart";
}

body {
    text-align: center;
    font-family: "PressStart";
    font-size: 16px;
    color: white;
    background-color: black;
}

hr {
    border: 0.5rem solid green;
}

h1 {
    font-size: 5rem;
    font-weight: 100;
}

h2 {
    font-size: 4rem;
    font-weight: 100;
}

main > div:last-child {
    padding-top: 2rem;
}

img.characters {
    margin: 0;
    padding: 0.5rem;
    width: 8rem;
}

img.characters:hover {
    cursor: pointer;
    border-bottom: 0.5rem solid orange;
    padding-bottom: 0;
}

div#players {
    margin: 0 auto;
}

div#topPoints > p {
    font-size: 2rem;
}

div#restartGame {
    cursor: pointer;
}

.mt-2 {
    margin-top: 2rem;
}

.text-big {
    font-size: 2rem;
}

.text-bigger {
    font-size: 3rem;
}

.text-huge {
    font-size: 4rem;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.blink {
    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {color: white;}
    25% {color: transparent;}
    50% {color: white;}
    75% {color: transparent;}
    100% {color: white;}
}

.flex {
    display: flex;
    justify-content: space-around;
    height: 100%;
}
div.flex > div {
    align-self: center;
}

.remove {
    display: none;
}

.hide {
    visibility: hidden;
}
